main {
  background-color: MintCream ;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

h1 {
  font-family: monospace;
  text-align: center;
}

p {
  font-family: verdana;
  text-align: center;
  font-size: 14;
}

#div-img {
  background-color: LightSteelBlue;
  margin: auto;
  width: 800px;
  padding: 10px;
  border-radius: 0.5%;
  display: grid;
  justify-content: center;
  grid-template-areas:
      "image"
      "caption";
}

  #image {  
    max-width:100%;
    height: auto;
}

#img-caption {
  font-family: verdana;
  text-align: center;
  font-size: 14;
  font-weight: bold;
}

h2 {
    text-align: center;
    font-family: monospace;
}

#tribute-info {
  text-align: left;
  font-family: verdana;
  display: flex;
  justify-content: center;
}

#italic {
  margin: 20px 150px 20px 150px;
  padding: 10px 20px 10px 20px;
  background-color: LightSteelBlue ;
}

#tribute-link {
  font-family: verdana;
  text-align: center;
  font-size: 14;
}